Images
Models
videos
Final Project/InfosysProject/static/models
Final Project/InfosysProject/static/output
Final Project/InfosysProject/static/uploads
Final Project/InfosysProject/static/models/videos
Final Project/Project/models
Final Project/Project/processed_videos
Final Project/Project/uploads

